/***** CSS reset *****/
body, body *{
    display:block;
    margin:0;
    padding:0;
    line-height:1.3;
    font-size:12pt;
    border:0;
    outline:0;
    color:black;
    background:inherit;
    font-family:"Courier New", Courier, monospace;
    text-decoration:none;
    box-sizing: border-box;
}

/***** Main rules *****/

body{
    margin:7px;
}

p{
    margin-bottom:1em;
}

a{
    display:inline;
    text-decoration:underline;
}

a:hover{
    color:#755;
}

.document{
    margin:auto;
    display:block;
    min-height:100%;
	max-width: 210mm;
}

.title{
    font-family:"Times New Roman", Times;
    font-weight:bold;
}

.top-title{
    text-align:center;
    font-size:20pt;
    margin-bottom:0.5em;
    font-family:"Times New Roman", Times;
    font-weight:bold;
}

.top-title:before{
    content:"CV";
    display:block;
    font-family:arial, sans-serif;
    font-size:48pt;
    line-height:0.7;
    color:#D8D8D8;
}

.section{
    display:block;
    border:1px solid #888;
    padding:1ex;
    margin:0 1.3ex 1.3ex 1.3ex;
    background:#EEE;
    border-radius:2px;
}

.section .section{
    background:#DDD;
}

.section-title{
    font-size:16pt;
    text-decoration:underline;
}

.section .section-title{
    text-decoration:none;
}

.text{
    border-radius:5px;
    border:dashed 1px #AAA;
    padding: 1ex;
    background-color: #e5e5e5;
}

.text > p:last-child {
    margin-bottom: 0;
}

.section > .text {
    border-radius: 0 5px 5px 0;
    border: solid 1px #AAA;
    border-width: 1px 1px 1px 0;
    padding: 1ex;
    margin: 0 0 0 -1ex;
}

/***** Section: Quick info *****/

.info *{
    display:inline;
}

.info .item{
    display:inline-block;
    font-weight:bold;
    width:18ex;
}

.info .item:after{
    content:": ";
    font-weight:bold;
}

.info .value{
    font-style:italic;
}

/***** Section: History *****/

.event{
    margin: 0.7ex 0 0.7ex 12pt;
}

.event .date{
    display:block;
    color:#440000;
    font-weight:bold;
}

.event .date:before{
    white-space:pre;
    font-weight:bold;
}

.event .title{
    font-size:13pt;
    display:inline-block;
}

.event .description{
    display:block;
    margin-left:4pt;
    background:#CCC;
    padding:5px;
    border-radius:5px;
}

/***** Section: Languages *****/

.language{
    display:list-item;
    list-style-type:circle;
    list-style-position:inside;
}

/***** Section: Technologies *****/

.tech{
    display:list-item;
    list-style-type:circle;
    list-style-position:outside;
	margin-left: 4ex;
}

/***** Footer *****/

.footer{
    border:double 2px #888888;
	border-width: 2px 0 0 0;
    text-align:center;
}

.footer .css-validated img{
    display:inline;
    margin:0;
}

.footer p {
	margin-bottom: 0;
}

/*****! Media specific !*****/

@media print {

	.document {
		margin-right: 1em;
		max-width: none;
	}

    a:after{
        content:" (" attr(href) ")";
        vertical-align:top;
        font-size:7.5pt;
        font-family:arial;
        text-decoration:none;
    }
    
    .break-before{
        page-break-before:always;
    }
    
    .section-title {
        page-break-after:avoid;
    }
    
    .event{
        page-break-inside:avoid;
    }
    
	.footer {
		position: fixed;
		right: 0;
		top: 0;
		height: 100%;
		width: 1.5em;
		border-width: 0 0 0 2px;
		font-size: 10pt;
	}

	.footer-content {
		transform-origin: top left;
		transform: rotate(90deg);
		width: 200mm;
		position: absolute;
		left: 1.5em;
		font-size: inherit;
		text-align: left;
	}

	.footer-content * {
		font-size: inherit;
		line-height: 1;
	}

	.footer-content > * {
		display: none;
	}

	.footer-content > .meta {
		display: inline;
	}

	.footer-content > .meta:first-child:before {
		content: "|";
	}

	.footer-content > .meta:after {
		content: "|";
	}

	.footer a {
		text-decoration: none;
	}

	.footer-content a::after {
		content: "";
	}
}